# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/YourCarYourWayBE/dist
/YourCarYourWayBE/tmp
/YourCarYourWayBE/out-tsc
/YourCarYourWayBE/bazel-out
/YourCarYourWayFE/dist
/YourCarYourWayFE/tmp

# Node
/YourCarYourWayFE/node_modules
YourCarYourWayFE/npm-debug.log
YourCarYourWayFE/yarn-error.log

# IDEs and editors
/YourCarYourWayBE/.idea/
/YourCarYourWayBE/.project
/YourCarYourWayBE/.classpath
/YourCarYourWayBE/.c9/
/YourCarYourWayBE/*.launch
/YourCarYourWayBE/.settings/
/YourCarYourWayBE/*.sublime-workspace

/YourCarYourWayFE/.idea/
/YourCarYourWayFE/*.iws
/YourCarYourWayFE/*.iml
/YourCarYourWayFE/*.ipr

# Visual Studio Code
/YourCarYourWayBE/.vscode/*
!/YourCarYourWayBE/.vscode/settings.json
!/YourCarYourWayBE/.vscode/tasks.json
!/YourCarYourWayBE/.vscode/launch.json
!/YourCarYourWayBE/.vscode/extensions.json
/YourCarYourWayBE/.history/*

/YourCarYourWayFE/.vscode/*
!/YourCarYourWayFE/.vscode/settings.json
!/YourCarYourWayFE/.vscode/tasks.json
!/YourCarYourWayFE/.vscode/launch.json
!/YourCarYourWayFE/.vscode/extensions.json
/YourCarYourWayFE/.history/*

# Miscellaneous
/YourCarYourWayBE/.angular/cache
/YourCarYourWayBE/.sass-cache/
/YourCarYourWayBE/connect.lock
/YourCarYourWayBE/coverage
/YourCarYourWayBE/libpeerconnection.log
/YourCarYourWayBE/testem.log
/YourCarYourWayBE/typings

/YourCarYourWayFE/.angular/cache
/YourCarYourWayFE/.sass-cache/
/YourCarYourWayFE/connect.lock
/YourCarYourWayFE/coverage
/YourCarYourWayFE/libpeerconnection.log
/YourCarYourWayFE/testem.log
/YourCarYourWayFE/typings

# System files
/YourCarYourWayBE/.DS_Store
/YourCarYourWayBE/Thumbs.db
/YourCarYourWayBE/HELP.md
/YourCarYourWayBE/target/
!/YourCarYourWayBE/.mvn/wrapper/maven-wrapper.jar
!/YourCarYourWayBE/**/*.java

/YourCarYourWayFE/.DS_Store
/YourCarYourWayFE/Thumbs.db
/YourCarYourWayFE/HELP.md
/YourCarYourWayFE/target/
!/YourCarYourWayFE/.mvn/wrapper/maven-wrapper.jar
!/YourCarYourWayFE/**/*.java

### STS ###
/YourCarYourWayBE.apt_generated
/YourCarYourWayBE.classpath
/YourCarYourWayBE.factorypath
/YourCarYourWayBE.project
/YourCarYourWayBE.settings
/YourCarYourWayBE.springBeans
/YourCarYourWayBE.sts4-cache

### IntelliJ IDEA ###
/YourCarYourWayBE/.idea
/YourCarYourWayBE*.iws
/YourCarYourWayBE*.iml
/YourCarYourWayBE*.ipr

/YourCarYourWayFE/.idea
/YourCarYourWayFE*.iws
/YourCarYourWayFE*.iml
/YourCarYourWayFE*.ipr